Cапер: основы
Цель игры
Найти пустые ячейки, но не трогать ячейки, содержащие мины. Чем быстрее вы очистите всю доску, тем лучше будет результат.

Игровая доска
В игре «Сапер» есть три стандартные доски, каждая следующая сложнее предыдущей.

Новичок: 81 ячейка, 10 мин

Любитель: 256 ячеек, 40 мин

Профессионал: 480 ячеек, 99 мин

Чтобы создать доску другого размера, в меню Игра щелкните Особые настройки. Игра «Сапер» поддерживает доски размером до 720 ячеек, содержащие до 576 мин.


Правила игры
Правила игры «Сапер» очень просты.

Если открыта ячейка с миной, игра проиграна.

Если открыта пустая ячейка, игра продолжается.

Если в ячейке указано число, оно показывает, сколько мин скрыто в восьми ячейках вокруг данной. Это число помогает понять, где находятся безопасные ячейки.


Советы и подсказки
Отмечайте ячейки с минами. Если ячейка предположительно содержит мину, щелкните ее правой кнопкой мыши. Ячейка будет помечена флажком. (Если вы не уверены, щелкните ее правой кнопкой мыши еще раз, чтобы заменить флажок знаком вопроса.)

Изучите возможные сочетания. Если три ячейки в ряду содержат числа 2-3-2, вы можете предположить, что вдоль этих ячеек расположены три мины. Если ячейка содержит число 8, значит все ячейки вокруг нее содержат мины.

Старайтесь открывать закрытые области. Не уверены, какую ячейку открыть дальше? Попробуйте открыть другую часть поля. Лучше открывать еще не исследованные области, чем те, где могут находиться мины.
